<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <title>Site Checker</title>

    <style>
      .l-header .title {
        font-size: 1.5rem;
      }
      .window-box iframe {
        width: 100%;
        height: 50vw;
      }
      .window-box .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        cursor: pointer;
        z-index: 1;
        background-color: transparent;
      }
    </style>

  </head>
  <body>
    <div id="app">
      <header class="bg-primary text-white mb-2">
        <div class="l-header container-fluid py-2">
          <div class="d-flex d-flex justify-content-between">
            <!-- left column -->
            <div class="l-header-left">
              <div class="title"><a class="text-white" href="/">Site Checker</a></div>
            </div>
            <!-- left column -->
            <div class="l-header-right">
              <div class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control mx-2" name="url" placeholder="Input URL" @keyup.enter="add" v-model="inputUrl">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="container-fluid">
          <div class="row">
              <window v-for="window in windows" :key="window.id" :window="window" :duration="duration" @remove="remove"></window>
          </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      const STORAGE_KEY = 'SITE-CHECKER-1.0'
      var storage = {
        fetch: function () {
          var datas = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
          datas.forEach(function (data, index) {
            // 初期化
            data.id = index
            data.refleshAt = 1000 * 60
          })
          storage.uid = datas.length
          return datas
        },
        save: function (datas) {
          localStorage.setItem(STORAGE_KEY, JSON.stringify(datas))
        }
      }

      Vue.component('window', {
        template: '<div class="window-box col-6">\
                      <div class="card mb-3 position-relative">\
                          <button class="btn close-btn text-secondary" @click.prevent="$emit(\'remove\', url)"><i class="fas fa-times fa-3x"></i></button>\
                          <div class="card-body">\
                            <h5 class="card-title">\
                              {{ window.url }}\
                            </h5>\
                            <div>Duration <span class="badge badge-secondary">{{ duration }}</span></div>\
                            <div>Reflesh Timer <span class="badge badge-success">{{ remainTime }}</span></div>\
                          </div>\
                          <iframe :src="window.url" frameborder="0" @load="setReflesh"></iframe>\
                      </div>\
                  </div>',
        props: ['window','duration'],
        data: function(){
          return {
            window: {
              id: null,
              url: '',
              refleshAt: 1000 * 60,
            },
            duration: 1000 * 60,
            timers: []
          }
        },
        methods: {
          setReflesh: function(event) {
            let iframeElement = event.target;
            let self = this;
            let window = self.window;
            // 既にタイマーが作動してないかチェック
            if (self.timers[window.url]) {
              return;
            }
            // 1秒毎にrefleshAtを減らして、0になったら更新
            self.timers[window.url] = setInterval(function(){
              window.refleshAt = window.refleshAt - 1000;
              if (window.refleshAt <= 0 && window.refleshAt > -1) {
                // iframeリフレッシュ
                iframeElement.src = window.url;
                // タイマーリセット
                window.refleshAt = self.duration;
                clearInterval(self.timers[window.url]);
                self.timers[window.url] = null;
              }
            }, 1000);
          }
        }, 
        computed: {
          remainTime: function() {
            return this.window.refleshAt / 1000;
          }
        }
      })

      var app = new Vue({
        el: '#app',
        data: {
          windows: storage.fetch(),
          duration: 1000 * 60,
          inputUrl: ''
        },
        methods: {
          add: function(){
            if (this.inputUrl.indexOf('http') !== 0) {
              this.inputUrl = 'http://' + this.inputUrl
            }

            let windowData = {
              id: this.windows.length,
              url: this.inputUrl,
              refleshAt: this.duration
            }

            this.windows.push(windowData);
            this.inputUrl = '';
          }, 
          remove: function(url){
            this.windows.splice(this.windows.indexOf(url), 1)
          },
        },
        watch: {
          windows: {
            handler: function (windows, oldWindows) {
              storage.save(this.windows)
            }
          }
        }
      })
    </script>
  </body>
</html>
